/* changing default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding-bottom: 60px;
}
/*nav bar styling*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 25px 60px;
}

a {
    text-decoration: none;
    color: #fff;
}

.cart {
    position: relative;
    color: white;
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 2px;
}

.cart-amount {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 16px;
    padding: 5px;
    border-radius: 2px;
    background-color: red;
    color: #fff;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 24px;
    margin: 0 auto;
}

/*tablet*/
@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }
}

/*mobile*/
@media (max-width: 600px) {
    .shop {
        grid-template-columns: 1fr;
        gap: 16px;
        padding: 16px;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.item {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-quantity {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}